<div class="row" id="rAccomplishments">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-certificate"></i> ACCOMPLISHMENTS</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt></dt>
				  	<ul>
					  <li>Voluntarily created and implemented daily parenting workshops for immigrant mothers in low-income neighborhoods in Chicago</li>
					  <li>Member of National Honors Society in Psychology</li>
					  <li>Keynote speaker at the Northeastern Illinois University's "Student Research Symposium” in December 2015</li>
					</ul>
				</dl>

	</div>
</div>