<div class="row" id="rEducation">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-graduation-cap"></i> EDUCATION &amp; TRAINING</strong></h2> <hr class="resume" />
				<dl class="pull-left col-sm-10">
					<dt>Northeastern Illinois University, College of Arts and Sciences</dt>
					<dd><em>Bachelor of Arts in Developmental Psychology</em></dd>

					<ul>
					  <li>Member of Psychology Club</li>
					  <li>Minor in Child Advocacy</li>
					  <li>Coursework in Psychology, Social Work and Child Development</li>
					  <li>Law and Ethics for Psychologists course</li>
					  <li>Domestic Violence Awareness training</li>
					</ul>
				</dl>

				<dl class="pull-right col-sm-2">
					<dt>Chicago, IL</dt>
					<dd>December 2015</dd>
				</dl>
	</div>
</div>