<div class="row" id="rExperience">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-briefcase"></i> PROFESSIONAL EXPERIENCE</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt>Rush University Medical Center</dt>
				  <dd><em>Family Care Coordinator </em></dd>
				  	<ul>
					  <li>Visit individuals in homes to provide information on state procedures, health insurance, and early intervention</li>
					  <li>Interview family members to compile information on social, medical, institutional, or drug history</li>
					  <li>Develop and implement Individualized Family Service Plans based on clinical experience and knowledge</li>
					  <li>Serve as liaisons between homes, schools, family services, courts, protective services, and doctors, to help children who face problems such as disabilities, or poverty</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>03/2016 - Current</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Autism Home Support Services</dt>
				  <dd><em>Care Team Member</em></dd>
				  	<ul>
					  <li>Documented all client information including data, treatment reports and progress notes</li>
					  <li>Collaborated closely with treatment team to appropriately coordinate client care services</li>
					  <li>Followed comprehensive treatment plans that focused on behavioral treatment of problems through applied behavior analysis </li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Northbrook, IL</dt>
				  <dd>01/2015 - 01/2016</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>The Children's Center</dt>
				  <dd><em>Intern</em></dd>
				  	<ul>
					  <li>Charted and recorded information in client files</li>
					  <li>Conducted outreach and advocacy services for regular cases</li>
					  <li>Referred clients to other programs and community agencies</li>
					  <li>Developed appropriate policies for the identification of medically-related social and emotional needs of families</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Cicero, IL</dt>
				  <dd>03/2015 - 12/2015</dd>
				</dl>

	</div>
</div>