<div class="row" id="rExperience">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-briefcase"></i> PROFESSIONAL EXPERIENCE</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt>Autism Home Support Services</dt>
				  <dd><em>Care Team Member</em></dd>
				  	<ul>
					  <li>Documented all client information including data, treatment reports and progress notes</li>
					  <li>Collaborated closely with treatment team to appropriately coordinate client care services</li>
					  <li>Followed comprehensive treatment plans that focused on behavioral treatment of problems through applied behavior analysis </li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Northbrook, IL</dt>
				  <dd>Jan 2015 - Current</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>The Children's Center</dt>
				  <dd><em>Intern</em></dd>
				  	<ul>
					  <li>Charted and recorded information in client files</li>
					  <li>Conducted outreach and advocacy services for regular cases</li>
					  <li>Referred clients to other programs and community agencies</li>
					  <li>Developed appropriate policies for the identification of medically-related social and emotional needs of families</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Cicero, IL</dt>
				  <dd>Sept - Dec 2015</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Giant Steps</dt>
				  <dd><em>Paraprofessional</em></dd>
				  	<ul>
					  <li>Served as teacher's aide for students with Autism</li>
					  <li>Quickly responded to crisis situations when severe mental health and behavioral issues arose</li>
					  <li>Interacted with clinical staff and external resources such as school or community personnel</li>
					  <li>Worked with parents and teachers to implement consistent behavior therapy techniques at home and school</li>
					  <li>Organized classroom projects that focused on problem solving skills and creative thinking</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Lisle, IL</dt>
				  <dd>Jan - Aug 2014</dd>
				</dl>
	</div>
</div>