<div class="row" id="rHeader"> 
	<div class="container center col-xs-12">
  	<br />


    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "head1", :class => "img-circle img-responsive center-block", :id =>"headerPic" %>
        </div>
      </div>
    </div>


  	<h1>Laura Amanda Brubach <br /> 
    <small><ul class="list-unstyled"><li>Assistant Behavioral Therapist</li></ul></small></h1>

  	 <h4>
  	 	<ul class="list-inline">
  				<li><i class="fa fa-map-marker"></i> Chicago, IL</li>
  				<li><i class="fa fa-phone"></i> (224) 355-8755  </li>
  				<li><i class="fa fa-envelope-o"></i> <a href="mailto:labrubach@gmail.com"> labrubach@gmail.com</a> </li>
  				<li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/laurabrubach" target="blank"> LinkedIn </a> </li>
  		</ul>
  	 </h4>

      <a href="https://dl.dropboxusercontent.com/u/61119290/LBResume.pdf" target="blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Download résumé as .PDF</a> <br />

  	 <br />

	</div>
</div>


