<div class="row" id="rSkills">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-book"></i> SKILL HIGHLIGHTS</strong></h2> <hr class="resume" />
		<div class="col-sm-6">
			<ul>
			  <li>Extensive DSM-IV knowledge</li>
			  <li>Parenting skills educator</li>
			  <li>Criminal law knowledge</li>
			  <li>Nonviolent Crisis Intervention</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul>
			  <li>Needs assessment</li>
			  <li>Documentation and paperwork</li>
			  <li>Coping skills training</li>
			  <li>Care plans</li>
			</ul>
		</div>


	</div>
</div>