<div class="row" id="rSummary">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-puzzle-piece"></i> PROFESSIONAL SUMMMARY</strong></h2> <hr class="resume" />
		<p>Responsible self-starter who communicates well and is dedicated to improving the well being of clients. Specifically studied situations such as runaways, human trafficking, gang violence and immigrants within Chicago. Skilled at assessing and evaluating cases of abuse, neglect and mental health related incidents.</p>
	</div>
</div>