<div class="row" id="p2014">
	<div class="container col-xs-12">
			<h1 class="page-header"> 2014 </h1>
			<!-- Projects Row -->
	        <div class="row">
	        	<div class="col-md-4 portfolio-item">
	                <a href="http://ymen.depaulccts.org/" target="blank">
						<%= image_tag "ymen", :class => "img-responsive img-rounded", size: "700x400"%>
	                </a>
	                <h3>
	                    <a href="http://ymen.depaulccts.org/" target="blank">YMEN Database</a>
	                </h3>
	                <p>Private cloud database created in Ruby on Rails for Youth Men's Education Network of Chicago (YMEN) to utilize. Provides cloud access to records for all staff to use.</p>
	            </div>
	        </div>
	        <!-- /.row -->
	</div>
</div>