<div class="row" id="p2012">
	<div class="container col-xs-12">
		<h1 class="page-header"> 2012 </h1>
			<!-- Projects Row -->
	        <div class="row">
	     	   <div class="col-md-4 portfolio-item">
	                <a href="http://photocloud.co/" target="blank">
						<%= image_tag "photocloud", :class => "img-responsive img-rounded", size: "700x400"%>
	                </a>
	                <h3>
	                    <a href="http://photocloud.co/" target="blank">PhotoCloud</a>
	                </h3>
	                <p>Create group photo albums stored in the cloud to share with your friends.</p><br />
	            </div>
	        </div>
	        <!-- /.row -->
	</div>
</div>

