<div class="row" id="p2013">
	<div class="container col-xs-12">
		<h1 class="page-header"> 2013 </h1>
			<!-- Projects Row -->
	        <div class="row">
	            <div class="col-md-4 portfolio-item">
	                <a href="http://www.wheresthestorm.com/" target="blank">
						<%= image_tag "storm", :class => "img-responsive img-rounded", size: "700x400"%>
	                </a>
	                <h3>
	                    <a href="http://www.wheresthestorm.com/" target="blank">Where's the Storm?</a>
	                </h3>
	                <p>A weather forcasting webapp created in Ruby on Rails to show you where the nearest storm is.</p>
	            </div>
	        </div>
	        <!-- /.row -->
	</div>
</div>