<div class="row" id="p2015">
	<div class="container col-xs-12">
			<h1 class="page-header"> 2015 </h1>
			<!-- Projects Row -->
	        <div class="row">
	            <div class="col-md-4 portfolio-item">
	                <a href="https://mighty-mountain-4177.herokuapp.com/" target="blank">
	                    <%= image_tag "16photos", :class => "img-responsive img-rounded", size: "700x400" %>
	                </a>
	                <h3>
	                    <a href="https://mighty-mountain-4177.herokuapp.com/" target="blank">16photos</a>
	                </h3>
	                <p>16photos is a simple website to create bite-sized photo albums to tell your stories.</p>
	            </div>

	        </div>
	        <!-- /.row -->
	</div>
</div>