<div class="row" id="p2015">
	<div class="container col-xs-12">
			<h1 class="page-header"> APA Writing Example </h1>
			<!-- Projects Row -->
	        <div class="row">
	            <div class="col-md-4 portfolio-item">
	                <a href="https://dl.dropboxusercontent.com/u/61119290/BehaviorModificationAPAPaper.docx" target="blank">
	                    <%= image_tag "behavior.png", :class => "img-responsive img-rounded"%>
	                </a>
	                <h3>
	                    <a href="https://dl.dropboxusercontent.com/u/61119290/BehaviorModificationAPAPaper.docx" target="blank">Behavior Modification: Increasing Exercise Frequency</a>
	                </h3>
	                <p>An APA Paper showcasing a study in behavior modification.</p>
	                <br />
	            </div>

	        </div>
	        <!-- /.row -->

	</div>
</div>