<div class="row" id="p2014">
	<div class="container col-xs-12">
			<h1 class="page-header"> Research </h1>
			<!-- Projects Row -->
	        <div class="row">
	       		<div class="col-md-4 portfolio-item">
	                <a href="https://dl.dropboxusercontent.com/u/61119290/Study%202%20PowerPoint.pptx" target="blank">
						<%= image_tag "study2.png", :class => "img-responsive img-rounded pic"%>
	                </a>
	                <h3>
	                    <a href="https://dl.dropboxusercontent.com/u/61119290/Study%202%20PowerPoint.pptx" target="blank">The Effects of Attractiveness and Gender on Infidelity Attitudes</a>
	                </h3>
	                <p>A research study showing the effects of attractiveness and gender on infidelity attitudes.</p>
	            </div>
	        	
	        </div>

	        <br />
	        <!-- /.row -->
	</div>
</div>