/** Responsive Background Image **/
	body#siteBackground{
	    background: url(http://i.imgur.com/baVXo8q.jpg) no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
/** END Responsive Background Image **/

.navbar-default {
	background: rgba(244,244,244, .55);
	-webkit-transform: translate3d(0,0,0);
	border: none;
}