// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projectsAll {
	color: #222;

}

#pHeader {
	color: #222;
	background: rgba(238,238,238, .75);
	-webkit-transform: translate3d(0,0,0);
}

#p2015 {
	color: #222;
	background: rgba(238,238,238, .75);
	-webkit-transform: translate3d(0,0,0);
}

#p2014 {
	color: #222;
	background: rgba(238,238,238, .75);
	-webkit-transform: translate3d(0,0,0);
}

#p2013 {
	color: #222;
	background: rgba(238,238,238, .75);
	-webkit-transform: translate3d(0,0,0);
}

#p2012 {
	color: #222;
	background: rgba(238,238,238, .75);
	-webkit-transform: translate3d(0,0,0);
}

.page-header {
	margin-top: 20px;
	margin-bottom:10px;
}